/* main bnr */
main {}
main .main_bnr {position:relative;}
main .main_bnr p {position: absolute; right:10%; bottom:10%;}
main .main_bnr p img {}
main .main_bnr video {width:100%; }
/* 공지사항 */
main notice_wrap {}